---
layout: page
title: 分类
header: Posts By Category
group: navigation
---
{% include JB/setup %}

{% assign categories_list = site.categories %}

<div class="index-content">
   
    <ul class="artical-list">

    {% for category in categories_list %} 
    	
    		{% if category[0] == "literature" %}
    		<li>
	    		<h2>
	                <a href="/category/literature.html"> 文学爱好者 ( {{ category[1].size }} )</a>
	            </h2>	
    		</li>
    		
            {% elsif category[0] == "software" %}
            <li>
                <h2>
                    <a href="/category/software.html">软件爱好者 ({{ category[1].size }})</a>
                </h2>
            </li>

            {% elsif category[0] == "computer" %}
            <li>
	            <h2>
	                <a href="/category/computer.html">理解计算机 ({{ category[1].size }})</a>
	            </h2>
	        </li>
            {% elsif category[0] == "opinion" %}
            <li>
	            <h2>
	                <a href="/category/opinions.html">观点与看法 ({{ category[1].size }})</a>
	            </h2>
            </li>
            {% endif %}
    {% endfor %}
    </ul>
 	{% assign categories_list = nil %}
</div>