---
layout: page
title: 最近发布
---



<div class="home">

{% for i in (0..4) %}
    <article>
        <header>
          <time class="date"><i class="fa fa-calendar fa-fw"></i> {{ site.posts[i].date|date:"%Y-%m-%d" }}</time>
          <h2 class="title"><a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a></h2>
        </header>
        <div class="content">
          {% if site.excerpt_separator %}
            {{ site.posts[i].excerpt }}
          {% else %}
            {{ site.posts[i].content | slice: 0, 400 }}
          {% endif %}
          <p class="read-more"><a href="{{ site.posts[i].url }}">阅读全文&gt;&gt;</a></p>
          {% if site.posts[i].tag %}
          <p class="tag">#{{ site.posts[i].tags[0] }}</p>
          {% endif %}
        </div>
    </article>
{% endfor %}
  
</div>