<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Wangyu" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="wy-ei 的博客，激扬文字，交流思想">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta property="wb:webmaster" content="3e5169279ef4a4c2" />
    <link rel="stylesheet" href="/src/css/style.css" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="Jt73F_D3PXCcZ8hcFokOfg02ypZsnsPUIqIejRplykw" />
    <meta name="baidu-site-verification" content="8fEQlXaBSl" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
</head>

<body>

    <header class="header" {% if page.hdbg %} style="background-image:url({{ page.hdbg }})" {% endif %}>
        <div class="wrap">
            <div class="site-title">
                <h1 class=""><a href="/">{{ site.title }}</a></h1>
                <h2>{{ site.slogan }}</h2>
            </div>
            <nav class="site-nav">
                <ul>
                    <li><a href="/"><i class="fa fa-home fa-fw"></i><span>首页</span></a></li>
                    <li><a href="/list.html"><i class="fa fa-list fa-fw"></i><span>列表</span></a></li>
                    <li><a href="/tags.html"><i class="fa fa-tag fa-fw"></i><span>标签</span></a></li>
					<li><a href="/categories.html"><i class="fa fa-folder fa-fw"></i><span>分类</span></a></li>
                    <!-- <li><a href="/links.html"><i class="fa fa-group fa-fw"></i><span>圈子</span></a></li> -->
                    <li><a href="/about.html"><i class="fa fa-paper-plane fa-fw"></i><span>关于</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="main wrap">
        {{ content }}
    </section>
    <footer>
        <div class="wrap">
            <p><i class="fa fa-copyright fa-fw"></i> 2015-2016 | wy-ei.com | Host on <a href="https://github.com">Github</a></p>
        </div>
    </footer>
    <div class="to-top">
        <i class="fa fa-chevron-up"></i>
    </div>
    <script src="/src/js/app.js"></script>
    <div id="tongji">
        {% include tongji %}
    </div>
</body>

</html>
