@charset "utf-8";

html {
    font-size: 100px;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

$linkColor:#404040;
$linkHoverColor:#E50053;
body {
    color: #555;
    position: relative;
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: .15rem;
}

a {
    transition: 100ms;
    text-decoration: none;
    color: $linkColor;
}

a:hover {
    color: $linkHoverColor;
}

$heading:(h1:.25rem, h2:.20rem, h3:.18rem, h4:.16rem);
@each $header,
$size in $heading {
    #{$header} {
        font-size: $size;
        font-weight: normal;
    }
}


/* header layout */

body {
    &>header {
        box-sizing: border-box;
        width: 100%;
        background-image: url(/images/bg/2015-07-13.jpg);
        background-color: #333;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 2.4rem 0 .20rem 0;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        color: #fff;
        a {
            text-decoration: none;
            color: #fff;
        }
        .site-title {
            h1 {
                display: inline;
                padding-right: .2rem;
            }
            h2 {
                display: inline;
                font-weight: lighter;
            }
        }
        .site-nav {
            ul {
                margin-top: 20px;
                list-style: none;
                li {
                    display: inline;
                    padding-right: .2rem;
                    font-size: .15rem;
                    i {
                        padding-right: .5em;
                    }
                }
            }
        }
    }
}

.wrap {
    margin: auto;
}

// > 1400
@media screen and (min-width: 1400px) {
    body>header {
        padding-top: 3rem;
    }
    .wrap {
        width: 1200px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .wrap {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .wrap {
        width: 95%;
    }
    .content img {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    body>header {
        padding-top: 1.50rem;
        .site-title {
            h1 {
                display: block;
            }
            h2 {
                display: block;
                margin: .1rem 0;
            }
        }
        .site-nav ul {
            margin-top: 0;
            li {
                padding-right: .1rem;
            }
        }
    }
}

#tongji,
#tongji img {
    display: none;
}


/* container layout */

.main-container {
    margin-top: 1rem;
}

.page-header {
    padding-bottom: .1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #ccc;
}

.content {
    a {
        text-decoration: underline;
    }
    p {
        line-height: 2.2em;
        margin-bottom: 1em;
    }
    // h1,h2,h3,h4,h5,h6{
    //   color: inherit;
    //   margin-bottom: 1.2em;
    // }
    ol,
    ul {
        margin: 1em 0;
        & li {
            line-height: 2.1em;
            list-style-position: inside;
            p {
                text-indent: 0;
            }
        }
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
    img {
        display: block;
        max-width: 100%;
        margin: auto;
        transition: 1s;
        border: 1px solid #ccc;
    }
    hr {
        border: none;
        border-bottom: 1px solid #cfcfcf;
        margin-bottom: 0.6em;
        height: .1rem;
    }
    blockquote {
        border-left: 4px solid #ccc;
        padding-left: 1em;
        margin: 0;
    }
    blockquote>p {
        text-indent: .1rem;
        font-size: 1em;
        font-weight: bolder;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 2em;
        color: #404040;
    }
}

.content+footer {
    margin-top: .6rem;
    p.last-page,
    p.next-page {
        display: inline;
        cursor: pointer;
    }
    p.last-page a,
    p.next-page a {
        padding-bottom: .03rem;
        border-bottom: 1px solid #ccc;
    }
    p.next-page {
        float: right;
    }
    p.last-page a:hover,
    p.next-page a:hover {
        color: #E50053;
    }
}

@media screen and (max-width: 768px) {
    .content+footer {
        p.last-page,
        p.next-page {
            display: block;
            float: none;
            margin: 10px 0;
        }
    }
}

.show-comment {
    margin: 50px auto;
}

.show-comment p {
    cursor: pointer;
    display: inline;
    padding-bottom: .03rem;
    border-bottom: 1px solid #ccc;
}

.show-comment p:hover {
    color: #E50053;
}

.comment {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

body>footer {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    &>p {
        width: 60%;
        margin: .2em auto;
        font-size: 0.9em;
    }
}

.article-list {
    margin: 0.8rem 0;
    li {
        list-style: none;
        text-indent: 0px;
        border-bottom: 1px solid #ccc;
        &:first-of-type {
            border-top: 1px solid #ccc;
        }
        h3 {
            font-size: 1.1em;
            display: inline;
        }
        p {
            display: inline;
            margin-left: .1rem;
            font-size: 0.9em;
            color: #666;
        }
        a {
            text-decoration: none;
            padding: .2rem 0;
            display: block;
        }
    }
}

.tag-cloud {
    margin-bottom: .2rem;
    a {
        color: #fff;
        padding: .01rem .1rem;
        border-radius: 0.05rem;
        margin: 3px;
        display: inline-block;
        background-color: #FEC58B;
    }
}

.tag-list {
    h2 {
        i {
            padding-right: .1rem;
        }
    }
    h3 {
        display: inline;
        font-size: .15rem;
    }
    p {
        display: inline;
        margin-left: 10px;
        font-size: 0.9em;
        color: #666;
    }
    li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        padding-top: .2rem;
        ul {
            li {
                &:last-of-type {
                    border-bottom: none;
                }
                a {
                    display: block;
                    padding: .2rem;
                    padding-right: 0;
                }
            }
        }
    }
}

#to-top {
    position: fixed;
    bottom: .15rem;
    right: .05rem;
    background-image: url(/images/move-up.png);
    width: .32rem;
    height: .32rem;
    cursor: pointer;
}

#to-top:hover {
    opacity: 0.7;
}

.img-alt-wrap {
    text-align: center;
}

.img-alt-wrap>p {
    display: inline-block;
    text-indent: 0px;
    font-style: italic;
    margin: 1em auto;
    line-height: 1.5em;
    border-bottom: 1px solid #d9d9d9;
}

time {
    font-size: 0.8em;
}

pre {
    background-color: #fff;
    padding: .1rem 0;
}

pre code {
    line-height: 1.7em;
}

li>ol {
    margin-left: 2em;
}

li>ul {
    margin-left: 2em;
}

iframe {
    padding-top: 1em;
    padding-bottom: 2em;
    margin: auto;
    display: block;
}

iframe[src*='music'] {
    width: 100%;
}

.highlight {
    border: 1px solid #ccc;
    overflow-x: auto;
    margin-bottom: 1.2em;
    background-color: #eee;
    padding: 1em;
}

.home>article {
    margin-bottom: 100px;
}

.home>article>header {
    margin-bottom: .3rem;
}

.home>article>header>h2 {
    margin-top: .1rem;
}

.home>article>header a {
    text-decoration: none;
}

.tag {
    font-size: .12rem;
}

.tag a:first-of-type {
    margin-right: .1rem;
}
